/* colors */
$color-white: #fbfcfd;
$color-grey: #ddd;
$color-bg: #2f2f2f;

/* special for project */
$padding-panel: 6%;
$width-icon: 7%;
$height-panel: 80px;
$font-sans: 'Roboto-Regular',Arial, Verdana, sans-serif;