//- index.jade
extends ./../layout.jade

block page-title
	title VIDEO Tube

block content

	header.header
		.header__age 12+
		a.header__logo video 
			span Tube

	section.player
		header.player__header
			h1.player__header_title Видео HD
			a.player__icon--later(href='javascript:void(0);')
				img.player__icon_img(src='img/ico_later.png' alt='Later')
			a.player__icon--share(href='javascript:void(0);')
				img.player__icon_img(src='img/ico_share.png' alt='Share')
		article.player__thumb
			a.player__btn_start(href="javascript:void(0);") Смотреть
			a.player__btn_cancel(href="javascript:void(0);") Отмена
		.player__timeline
			.player__timeline_value(style="width:30%")
		.player__panel
			a.player__icon--play(href="javascript:void(0);")
				img.player__icon_img(src='img/ico_play.png' alt='Play')
			a.player__icon--volume(href="javascript:void(0);")
				img.player__icon_img(src='img/ico_volume.png' alt='Volume')
			span.player__time 0:01 / 15:44
			a.player__icon--full(href="javascript:void(0);")
				img.player__icon_img(src='img/ico_full.png' alt='Fullscreen')
		footer.footer
			form.form
				input.form__checkbox(type="checkbox" id="custom" checked)
				label.form__title(for="custom") Подтверждаю, что люблю мультики, и соглашаюсь с  
					a.form__link(href="javascript:void(0);") правилами предоставления услуги
			.footer__text Услуга: domainname.eu. Провайдер ООО “Эс Эм Экс Комьюникейшнс”. Стоимость: 20 руб в сутки с НДС. 