/* main layout */
html {
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
	background-color: $color-bg;
    color: #fff;
}

/* content */
.container{
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}
@define-extend %player__icon{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: $width-icon;
}
.player{
  width: 100%;
  &__header{
    position: relative;
    padding: 0 $padding-panel;
    height: $height-panel;
    text-align: right;
    background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  &__header_title{
    position: absolute;
    left: $padding-panel;
    top: 50%;
    transform: translateY(-50%);
    height: $height-panel;
    font-size: 30px;
    line-height: 1.5;
  }
  &__header_icons{
    float: right;
    width: 120px;
  }
  &__panel{
    position: relative;
    padding: 0 $padding-panel;
    height: $height-panel;
    background-color: #000;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  &__time{
    display: inline-block;
    margin-left: 30px;
  }
  &__icon{
    &--later{
      @extend %player__icon;
      background-position: -2px -2px;
    }
    &--share{
      @extend %player__icon;
      background-position: 0 -55px;
      margin-left: 22px;
    }
    &--play{
      @extend %player__icon;
      background-position: 0 -214px;
    }
    &--volume{
      @extend %player__icon;
      background-position: -2px -160px;
      margin-left: 26px;
    }
    &--full{
      @extend %player__icon;
      position: absolute;
      right: $padding-panel;
      top: 50%;
      transform: translateY(-50%);
      background-position: 0 -110px;
    }
  }
  &__icon_img{
    width: 100%;
  }
}
.header{
  height: 90px;
  &__age{
    position: absolute;
    top: 12px;
    left: 18px;
    width: 64px;
    height: 64px;
    font-size: 19px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    background: url(/img/badge.png) no-repeat center center;
  }
  &__logo{
    margin: 0 auto;
    display: block;
    height: 62px;
    width: 220px;
    font-size: 36px;    
    line-height: 90px;
    color: #fff;
    text-transform: uppercase;
    span{
      display: inline-block;
      background: url(/img/logo.png) no-repeat 0 0;
      color: #ff002a;
      width: 94px;
      line-height: 62px;
      text-align: center;
      text-transform: capitalize;
    }
  }
}
.footer{
  padding: 20px 20px 10px;
  color: #a4a4a4;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  &__form{
    a{
      color: #ffffff;
    }
  }
  &__text{
  }
}
