//- layout.jade
doctype html
html
	block page-title
		title Заголовок страницы	
	include partials/head
	body
		main.container
			//- content main page
			block content
		//- scripts
		include partials/scripts
